{% load section_helpers %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Winterset Madisonian</title>
</head>
<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
<body>
    {% section_menu section_view='section_view' sections=mad_sections template='navigation/sections.html' %}
    <div>
        {% block content %}
        {% endblock %}
    </div> <!--! end of #container -->

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31048930-1']);
        _gaq.push(['_setDomainName', 'wintersetmadisonian.com']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>
